# Environnement virtuel
venv/
__pycache__/
*.pyc
*.pyo

# Données utilisateur (privées !)
data/
cache/
exports/
output/
__pycache__/

# Logs et fichiers temporaires
*.log
.DS_Store
cloudflared-linux-amd64.deb

# Secrets
.env
secrets.toml
.streamlit/secrets.toml

# VS Code
.vscode/
.idea/