# Core
youtube-transcript-api>=0.6.2
transformers>=4.36.1
accelerate>=0.25.0
sentencepiece>=0.1.99
torch>=2.1.0
numpy<2.0.0

# Interface
streamlit>=1.30.0

# Modèles multilingues
deep-translator

# Export PDF
fpdf2>=2.7.0
yt-dlp
# Mots-clés
keybert>=0.7.0
requests
beautifulsoup4
# Cache
diskcache>=5.6.3
streamlit-cookies-controller