# Core
youtube-transcript-api>=0.6.2
transformers>=4.36.1
accelerate>=0.25.0
sentencepiece>=0.1.99
torch>=2.1.0
numpy<2.0.0

# Interface
streamlit>=1.30.0

# Modèles multilingues
googletrans==4.0.0rc1

# Export PDF
fpdf2>=2.7.0

# Mots-clés
keybert>=0.7.0

# Cache
diskcache>=5.6.3
streamlit-cookies-controller